/* stylelint-disable selector-class-pattern */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

html {
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-height: 1138px;
}

.header__start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 165px 0 149px;
  color: #fff;
  background: url("img-bg/bg_header.png") no-repeat;
  background-size: cover;
}

.header__logo {
  display: block;
  align-self: center;
}

.header__title-container {
  align-self: center;
  margin-top: 152px;
  text-align: center;
}

.header__title-container::after {
  display: block;
  width: 105px;
  height: 2px;
  margin: 0 auto;
  margin-top: 45px;
  background: #fff;
  content: "";
}

.header__title {
  align-self: center;
  margin: 0;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.header__title-container span {
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.16em;
  text-transform: none;
}

.header__links {
  align-self: center;
  margin-top: 226px;
  outline-color: #fff;
}

.link {
  display: block;
  box-sizing: border-box;
  width: 182px;
  height: 47px;
  padding-top: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: 1px solid #000;
  transition: all 0.3s ease-out;
}

.link:hover {
  outline: 1px solid transparent;
  transform: scale(1.3, 1.3);
}

.header__link_white {
  outline-color: #fff;
}

.scroll {
  display: block;
  margin-top: 70px;
  text-align: center;
  transition: transform 0.3s ease-out 0.1s;
}

.scroll:hover {
  transform: translateY(10px);
}

.header__nav {
  max-height: 58px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 5%);
}

.header__nav_mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 20px 0 17px;
}

.nav__list {
  display: block;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin-left: 50px;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  list-style: none;
  transition: color 0.3s ease-out, transform 0.3s ease-out 0.1s;
}

.nav__item:hover {
  color: #ada074;
  transform: scale(1.1, 1.2);
}

.nav__item_header {
  padding-left: 20px;
}

.nav__item a {
  text-decoration: none;
}

.nav__item_active {
  margin-left: 0;
  color: #ada074;
  font-weight: 700;
}
.nav__item_header { padding-left: 0; }

.about {
  max-height: 768px;
  padding-top: 124px;
  padding-bottom: 95px;
  background-color: #fff;
}

.about__body {
  max-width: 825px;
  margin: 0 auto;
}

.about__header {
  padding: 0 41px;
}

.title {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  display: block;
  width: 81px;
  height: 1px;
  margin: 0 auto;
  margin-top: 28px;
  background-color: #000;
  content: "";
}

.about__text {
  display: block;
  max-width: 688px;
  margin: 0 auto;
  margin-top: 31px;
  color: #868585;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.about__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 38px;
  margin-top: 69px;
}

.item-about {
  padding: 0 14px;
}

.item-about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
}

.item-about__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
}

.item-about__text {
  margin: 0;
  margin-top: 15px;
  color: #868585;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.button-up {
  position: sticky;
  top: 93%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  background: #3c3c3c;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 5px rgb(24 42 56 / 28.8%);
  transition: transform 0.3s ease-out 0.1s;
}

.button-up:hover {
  transform: scale(1.1);
}

.button-up__scroll {
  display: block;
}

.button-up__scroll img {
  display: block;
  transform: rotate(180deg);
}

.portfolio {
  padding: 95px 0 62px;
  background-color: #f3f3f3;
}

.portfolio__title {
  margin-bottom: 33px;
}

.columns-container {
  max-width: 1103px;
  margin: 0 auto;
}

.portfolio__column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(538px, 1fr));
  gap: 16px  27px;
  margin-top: 116px;
}

.portfolio__item {
  max-width: 538px;
  height: 365px;
  overflow: hidden;
  background-color: #eaeaea;
  box-shadow: 0 0 10px 2px rgb(34 60 80 / 30%);
  mix-blend-mode: luminosity;
  transition: all 0.3s ease-out 0.1s;
}

.portfolio__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.portfolio__item:hover {
  z-index: 10;
  transform: scale(1.25, 1.25);
  mix-blend-mode: normal;
}

.portfolio__img {
  max-width: 100%;
  height: auto;
  transform: scale(1.1, 1.1);
}

.portfolio__links {
  display: flex;
  justify-content: center;
  margin: 64px auto 0;
}

.partners {
  box-sizing: border-box;
  max-height: 390px;
  padding: 92px 0 111px;
  background: url("img-bg/bg_partners.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
}

.partners__title {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;
}

.partners__row {
  display: flex;
  justify-content: start;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 97px;
}

.partners__item:not(:last-child) {
  margin-right: 117px;
}

.partners__link {
  display: block;
  box-sizing: border-box;
  height: 53px;
}

.partners__logo {
  max-height: 53px;
}

.contact {
  padding: 176px 0 97px;
}

.contact__row {
  display: flex;
  justify-content: start;
  max-width: 780px;
  margin: 127px auto 0;
}

.contact__item {
  margin-right: 83px;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.form__element:nth-child(1) {
  margin-right: 60px;
}

.form__caption {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.form__input {
  box-sizing: border-box;
  width: 161px;
  height: 35px;
  margin-top: 16px;
  padding: 0 5px;
  background-color: #f8f7f7;
  border: none;
  border-top: 1px solid #000;
  outline: 1px solid transparent;
  transition: outline-color 0.3s ease-out;
}

.form__input:focus {
  outline: 1px solid #000;
}

.form__message {
  width: 383px;
  height: 118px;
  resize: none;
}

.message {
  margin-top: 75px;
}

.form__button {
  margin-top: 37px;
}

.button-submit {
  position: relative;
  left: 16%;
  display: block;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease-out 0.1s;
}

.button-submit:hover {
  transform: scale(1.1);
}

.button-submit:active {
  transform: scale(1.5);
}

.contact__adress {
  font-style: normal;
}

.contact__text {
  font-size: 14px;
}
.contact__text span { line-height: 29px; }

.contact__autor {
  margin-top: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.contact__social {
  margin-top: 17px;
}

.social-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 29px;
  height: 29px;
  text-decoration: none;
  background-color: rgb(255 255 255 / 0%);
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  transition: transform 0.2s ease-out 0.1s;
}

.social-item img {
  position: absolute;
  top: 16%;
  left: 30%;
  display: block;
}

.contact__fb {
  margin-right: 12px;
}

.contact__fb:hover {
  transform: scale(1.1);
}

.contact__linkedin img {
  top: 25%;
  left: 28%;
}

.contact__linkedin:hover {
  transform: scale(1.1);
}

.contact__email {
  margin-top: 3px;
  font-size: 14px;
  line-height: 26px;
}

.contact__link {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-out 0.1s;
}

.contact__link:hover {
  border-bottom: 1px solid rgb(70 74 78 / 69.9%);
}

.contact__link span {
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: center;
  max-height: 274px;
  padding: 48px 0 49px;
  background-color: #3c3c3c;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 260px;
}

.footer__nav {
  display: flex;
  justify-content: start;
  margin-top: 36px;
}

.footer__link {
  margin-right: 25px;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__rights {
  margin-top: 28px;
  color: #6c6c6c;
  font-size: 13px;
  line-height: 1.2;
}
